<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.performarine.ios.app.refresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
    <string>PerforMarine</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>performarine</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.263893378527-p8iaj23ko074h8ro8cq9nlb9rp0fjvfq</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>PerforMarine utilizes advanced Bluetooth technology to seamlessly connect with and scan HyMarine devices, ensuring real-time tracking and monitoring of your trips.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>PerforMarine employs Bluetooth to effortlessly connect to and scan HyMarine devices, enhancing the efficiency of your trip operations.</string>
	<key>NSCameraUsageDescription</key>
	<string>PerforMarine uses your camera to capture stunning images of your vessels, making it easy to add and update their information within the app.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>PerforMarine utilizes advanced location services to keep tabs on your vessel's position throughout your trip.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>PerforMarine uses cutting-edge location services to track your vessel's location throughout your trip.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PerforMarine employs real-time location tracking to monitor your vessels while doing the trip, offering features like route optimization and continuous oversight for a smoother voyage.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>This app requires access to your calendar to schedule and manage events.</string>
	<key>NSMotionUsageDescription</key>
	<string>PerforMarine uses sophisticated motion sensors to monitor your vessels while doing the trip' speed and movement, delivering valuable data for comprehensive trip analysis.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app requires access to speech recognition to convert spoken words into text.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PerforMarine grants you access to your photo library, allowing you to effortlessly store and manage stunning images of your vessels.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
    <key>NSAllowsArbitraryLoadsInWebContent</key>
    <true/>
    <key>io.flutter.embedded_views_preview</key>
    <string>YES</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
      <array>
        <string>applinks:goeapidev.azurewebsites.net</string>
      </array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
